<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Closet Swap!</h1>
      <h2>
        Already a member? <a href="/sessions/new">Log in here.</a>
      </h2>
      <h2>
        New to our club? No problem! <br>
        Create a new account <a href="/users/new">here.</a>
      </h2>
    </div>
  </body>
</html>
