body {
  background-color: pink;
}

img {
  height: 100px;
  width: 100px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: row;
}

/* ------------- */
/* TOP NAV CSS  */
/* ------------- */

/* add a grey background color to the top navigation */
.topnav {
  background-color: grey;
  overflow: hidden;
}

/* style the links inside the navigation bar */
.topnav .navBarItem {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color of the links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* add a color to the active/current link */
.topnav a.active {
  background: white;
  color: black;
}

/* style the logout */
.topnav .logout {
  float: right;
  background-color: grey;
  padding: 10px;
}
