<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Closet Items New Page</h1>
    <form action="/closetswap" method="POST">
      Type: <input type="text" name="type" /> <br>
      Description: <input type="text" name="description" /> <br>
      Image: <input type="text" name="image" /> <br>
      Brand: <input type="text" name="brand" /> <br>
      Price: <input type="number" name="price" /> <br>
      Size: <input type="number" name="size" /> <br>
      Available:
        <input
          type="checkbox"
          name="available"
        /> <br>
      <input type="submit" name="Add Item" /> <br>
    </form>
  </body>
</html>
